// title
.title {
  animation: slideLeft 0.4s;
}

@keyframes slideLeft {
  from {
    margin-left: 30%;
  }

  to {
    margin-left: 0%;
  }
}

//view work button
.btn {
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//project images
.slideIn.right {
  opacity: 0;
  transition: all 0.9s;
  transform: translateX(30%) scale(0.95);
}

.slideIn.left {
  opacity: 0;
  transition: all 0.9s;
  transform: translateX(-30%) scale(0.95);
}

.slideIn.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
