.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

section {
  padding: 50px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
