.bodyWrapper {
  max-width: 4000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

section {
  padding: 50px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 12px;
  //made after reviewing stackoverflow
  background: linear-gradient(#fff) padding-box,
    linear-gradient(to right, $secondary, #72efdd) border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  color: $secondary;
  transition: 0.5s;

  &:hover,
  &:focus {
    background: $secondary;
    color: #fff;
  }
}
