header {
  background-image: url("../../../assets/milad-fakurian-UqP7U400AZs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  z-index: 1000;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8edeb;
    opacity: 0.5;
    z-index: -10;
  }

  // navigation
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 10000;

    .mobileMenu {
      font-size: 10px;
      height: 0;
      width: auto;
      position: absolute;
      top: -100px;
      overflow: hidden;
      background: none;
      border: none;
      color: $secondary;
    }

    .navList {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 10;

      a {
        padding: 25px 0 25px 50px;
        color: $secondary;

        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }

    // social icons
    .socials {
      position: fixed;
      bottom: 100px;
      right: 0;
      z-index: 20;
      text-align: center;
      margin: 0 50px;

      &::after {
        content: "";
        width: 0;
        height: 50%;
        position: absolute;
        border-left: 1px solid $secondary;
        top: 220px;
      }

      a {
        padding: 15px 10px;

        i {
          font-size: 1.1rem;
          background: linear-gradient(10deg, $secondary, #95d5b2);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.2s;
        }

        &:hover,
        &:focus {
          transform: scale(1.5);
        }
      }
    }
  }

  .titleContainer {
    margin: 35px 0;


    h1 {
      .codes {
        letter-spacing: -5px;
      }

      .capitalizedText {
        font-size: 2.3rem;
        text-transform: uppercase;
        display: block;
      }
    }
  }

  .btn {
    margin-top: 50px;
    padding: 12px;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
  }
}

.textContainer {
  width: 73%;
  z-index: 1000;
  transition: 0.5s;


}

.skillsContainer {
  width: 70%;


  h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .skillsList {
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0 auto;
  }

  .iconContainer {
    text-align: center;

    i {
      padding: 0 30px;
      font-size: 1.5rem;
      background: linear-gradient(10deg, $secondary, #95d5b2);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
  }
}

@media (max-width: 915px) {
  .textContainer {
    width: 100%;
    font-size: 0.8rem;
  }
}

@media (max-width: 750px) {
  .wrapper {
    width: 85%;
  }

  header {
    nav {
      justify-content: flex-end;

      .mobileMenu {
        font-size: 1.5rem;
        padding: 15px 0 15px 25px;
        position: absolute;
        margin-right: 40px;
        z-index: 30;
        cursor: pointer;
        position: static;
        overflow: visible;
        height: auto;
      }

      .whiteBtn {
        color: #fff;
      }

      .hide {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      .navList {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        background-color: $secondary;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        top: 0;
        padding-top: 80px;
        opacity: 0.95;

        &::before {
          content: none;
        }

        a {
          position: relative;
          color: #fff;
          padding: 30px;
          font-size: 1.8rem;

          &:hover,
          &:focus {
            color: $primary;
          }
        }
      }

      .socials {
        display: none;

        &::after {
          content: none;
        }
      }
    }

    .titleContainer {
      text-align: center;

      h1 {
        font-size: 2.3rem;

        .capitalizedText {
          font-size: 1.8rem;
        }
      }
    }

    .skillsContainer {
      width: 100%;
    }
  }
}

@media (max-width: 390px) {
  header {
    .titleContainer {
      h1 {
        font-size: 2rem;
        line-height: 50px;

        .capitalizedText {
          font-size: 1.3rem;
        }
      }
    }

    .textContainer {
      font-size: 0.7rem;
    }
  }

  h4 {
    font-size: 0.7rem;
  }
}