header {
  background-image: url("../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  height: auto;

  nav {
    padding: 5px 0;

    .mobileMenu {
      height: 0;
      overflow: hidden;
      position: absolute;
      background: none;
      border: none;
    }

    .navList {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 9999;

      // &::before {
      //   content: url(../../../assets/dots.png);
      //   height: 30px;
      //   width: 30px;
      //   display: block;
      //   position: absolute;
      //   z-index: -10;
      //   top: 0;
      //   right: 350px;
      // }

      a {
        padding: 25px 0 25px 50px;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }

    .socials {
      position: fixed;
      bottom: 100px;
      z-index: 20;
      text-align: center;
      margin: 0 50px;

      &::after {
        content: "";
        width: 0;
        height: 50%;
        position: absolute;
        border-left: 1px solid $secondary;
        top: 220px;
      }

      a {
        padding: 15px 10px;

        i {
          font-size: 1.1rem;
          background: linear-gradient(10deg, $secondary, #72efdd);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.2s;
        }

        &:hover,
        &:focus {
          transform: scale(1.5);
        }
      }
    }
  }

  .title {
    margin: 20vh 0;
    width: 640px;
    margin-right: auto;
    text-align: right;
    position: relative;

    &::after {
      content: url(../../../assets/o-dark.png);
      height: 5px;
      width: 5px;
      display: block;
      position: absolute;
      right: 100px;
      top: -100px;
    }

    &::before {
      content: url(../../../assets/o-light.png);
      height: 5px;
      width: 5px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }

    h1 {
      font-size: 4rem;
      font-weight: 300;

      .name {
        font-family: $secondaryFont;
        background: linear-gradient(10deg, $secondary, #72efdd);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10;
        letter-spacing: -5px;
        position: relative;

        &::after {
          content: url(../../../assets/dot.png);
          height: 5px;
          width: 5px;
          display: block;
          position: absolute;
          right: -15px;
          top: 15px;
        }
      }
    }

    .capitalize {
      display: block;
      font-family: $secondaryFont;
      font-size: 2.8rem;
      text-transform: uppercase;
    }
  }

  .btn {
    margin-top: 50px;
    padding: 12px;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 915px) {
  header {
    .title {
      width: 100%;

      .capitalize {
        font-size: 2.3rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .wrapper {
    width: 85%;
  }
  header {
    nav {
      display: flex;
      justify-content: flex-end;

      .mobileMenu {
        font-size: 1.5rem;
        padding: 10px;
        position: absolute;
        margin-right: 20px;
        z-index: 30;
        cursor: pointer;
        overflow: visible;
      }

      .hide {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      .navList {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        background-color: $secondary;
        width: 100%;
        height: 80vh;
        top: 0;
        padding-top: 50px;
        opacity: 0.9;
        z-index: 20;

        &::before {
          content: none;
        }

        a {
          position: relative;
          color: #fff;
          z-index: 20;
          padding: 30px;
          font-size: 1.8rem;
        }
      }
      .socials {
        position: static;
        display: flex;
        justify-content: space-between;
        display: none;

        &::after {
          content: none;
        }
      }
    }

    .title {
      width: 100%;

      h1 {
        font-size: 3rem;
      }

      .capitalize {
        font-size: 1.7rem;
      }
    }
  }
}
