header {
  background-image: url("../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  nav {
    padding: 8px 0;
    background-color: #fff;
    position: sticky;
    top: 0;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    a {
      padding: 25px;
      text-transform: uppercase;
    }
  }

  .title {
    margin-top: 250px;
    width: 60%;
    text-align: right;

    h1 {
      font-size: 4rem;

      .name {
        font-family: $primaryFont;
        font-weight: 300;
        background: linear-gradient(10deg, #5257e5, #72efdd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10;
        letter-spacing: -5px;
      }
    }

    .capitalize {
      display: block;
      font-family: $secondaryFont;
      font-size: 2.8rem;
      text-transform: uppercase;
    }
  }

  .btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $primary;
    font-weight: 500;
    margin-top: 50px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px;
    border-style: solid;
    border-image: linear-gradient(50deg, #5257e5, 45%, #72efdd 80%, #72efdd 80%)
      1;
    border-width: 2px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
}
