.portfolio {
  h2 {
    position: relative;


    &::after {
      content: url(../../../assets/line.png);
      position: absolute;
      height: 10px;
      width: 10px;
      left: 0;
      top: 20px;
    }
  }
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: hidden;
  flex-direction: row-reverse;

  .projectContainer {
    margin-bottom: 40px;
  }

  :nth-child(1) .projectContent {
    background-color: #ffecee;
  }

  :nth-child(2) .projectContent {
    background-color: #edf2fb;

  }

  :nth-child(3) .projectContent {
    background-color: #f2ebfb;

  }

  :nth-child(4) .projectContent {
    background-color: #dbe7e4;
  }

  :nth-child(5) .projectContent {
    background-color: #ffffe0;
  }

  :nth-child(6) .projectContent {
    background-color: #ffecee;
    background-color: #f8edeb;
  }

  :nth-child(7) .projectContent {
    background-color: #d3eeec;
  }

  .projectContent {
    max-width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    text-align: center;

    .imgContainers {
      width: 80%;
    }

  }
}

.projectText {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  background-color: #333;
  border-radius: 8px;

  p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
  }
}

.closeInfo {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;

  &:hover {
    color: $tertiary;
  }
}

.showProjectText {
  opacity: 1;
}

.iconsContainer {
  width: 50%;
  margin: 30px 0;

  i {
    font-size: 1.3rem;
    background: linear-gradient(10deg, $secondary, $tertiary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.projectLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


@media (max-width: 750px) {
  .projectLinks {
    width: 70%;

  }
}