html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: $secondaryFont;
  font-size: $baseFontSize;
  color: $primary;
  // background-color: #fdf6f0;
}

h1,
h2,
h3,
h4,
p,
a,
input {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $primaryFont;
  font-size: 3rem;
  line-height: 70px;
  transition: 0.3s;
  color: #220901;
}

h2 {
  font-family: $primaryFont;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 50px;
  color: $secondary;
  transition: 0.3s;
}

h3 {
  font-family: $primaryFont;
  margin-bottom: 10px;
  color: #220901;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 1rem;
  color: $primary;
  font-family: $secondaryFont;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

p {
  font-family: $secondaryFont;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #220901;
}