html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Sometimes Times";
  src: url("../../../fonts/sometimes-times/sometimes_times-webfont.woff2") format("woff2"), url("../../../fonts/sometimes-times/sometimes_times-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Maison Neue Light";
  src: url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.eot");
  /* IE9*/
  src: url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.eot?#iefix") format("embedded-opentype"), url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.woff2") format("woff2"), url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.woff") format("woff"), url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.ttf") format("truetype"), url("../../../fonts/maison-neue/8b59d4b47037b08d452d8cb659cc2d53.svg#Maison Neue Light") format("svg");
  /* iOS 4.1- */
}
html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Maison Neue Light", sans-serif;
  font-size: 0.8rem;
  color: #220901;
}

h1,
h2,
h3,
h4,
p,
a,
input {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sometimes Times", sans-serif;
  font-size: 3rem;
  line-height: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #220901;
}

h2 {
  font-family: "Sometimes Times", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 50px;
  color: #14746f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h3 {
  font-family: "Sometimes Times", sans-serif;
  margin-bottom: 10px;
  color: #220901;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: "Maison Neue Light", sans-serif;
  font-size: 1rem;
  color: #495057;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  font-family: "Maison Neue Light", sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.bodyWrapper {
  max-width: 4000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 73%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  padding: 50px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 12px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #14746f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btn:focus, .btn:hover {
  background: #14746f;
  color: #fff;
}
.btn:focus:not(:focus-visible), .btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff)) padding-box, -webkit-gradient(linear, left bottom, right top, from(#14746f), to(#95d5b2)) border-box;
  background: linear-gradient(#fff) padding-box, linear-gradient(to top right, #14746f, #95d5b2) border-box;
  border: 1px solid transparent;
  color: #14746f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header {
  background-image: url("../../../assets/milad-fakurian-UqP7U400AZs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 95vh;
  height: auto;
  position: relative;
  z-index: 1000;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f8edeb;
  opacity: 0.5;
  z-index: -10;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  z-index: 10000;
}
header nav .mobileMenu {
  font-size: 10px;
  height: 0;
  width: auto;
  position: absolute;
  top: -100px;
  overflow: hidden;
  background: none;
  border: none;
  color: #14746f;
}
header nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
header nav .navList a {
  padding: 25px 0 25px 50px;
  color: #14746f;
}
header nav .navList a:hover, header nav .navList a:focus {
  text-decoration: underline;
}
header nav .socials {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 20;
  text-align: center;
  margin: 0 50px;
}
header nav .socials::after {
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  border-left: 1px solid #14746f;
  top: 220px;
}
header nav .socials a {
  padding: 15px 10px;
}
header nav .socials a i {
  font-size: 1.1rem;
  background: linear-gradient(10deg, #14746f, #95d5b2);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .socials a:hover, header nav .socials a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
header .titleContainer {
  margin: 35px 0;
}
header .titleContainer h1 .codes {
  letter-spacing: -4px;
}
header .titleContainer h1 .capitalizedText {
  font-size: 2.3rem;
  text-transform: uppercase;
  display: block;
}

.textContainer {
  width: 73%;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skillsContainer h2 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #220901;
}
.skillsContainer .skillsList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7rem;
  width: 70%;
}
.skillsContainer .iconContainer {
  width: 70px;
  text-align: center;
}
.skillsContainer .iconContainer i {
  font-size: 1.3rem;
  background: linear-gradient(10deg, #14746f, #95d5b2);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@media (max-width: 915px) {
  .textContainer {
    width: 100%;
    font-size: 0.8rem;
  }
}
@media (max-width: 750px) {
  .wrapper {
    width: 85%;
  }

  header nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav .mobileMenu {
    font-size: 1.5rem;
    padding: 15px 0 15px 25px;
    position: absolute;
    margin-right: 40px;
    z-index: 30;
    cursor: pointer;
    position: static;
    overflow: visible;
    height: auto;
  }
  header nav .whiteBtn {
    color: #fff;
  }
  header nav .hide {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  header nav .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    background-color: #14746f;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    top: 0;
    padding-top: 80px;
    opacity: 0.95;
  }
  header nav .navList::before {
    content: none;
  }
  header nav .navList a {
    position: relative;
    color: #fff;
    padding: 30px;
    font-size: 1.8rem;
  }
  header nav .navList a:hover, header nav .navList a:focus {
    color: #495057;
  }
  header nav .socials {
    display: none;
  }
  header nav .socials::after {
    content: none;
  }
  header .titleContainer {
    text-align: center;
  }
  header .titleContainer h1 {
    font-size: 2.4rem;
    line-height: 50px;
  }
  header .titleContainer h1 .capitalizedText {
    font-size: 1.7rem;
  }

  .skillsContainer .skillsList {
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
  }
}
@media (max-width: 430px) {
  header .titleContainer h1 {
    font-size: 2rem;
    line-height: 50px;
  }
  header .titleContainer h1 .capitalizedText {
    font-size: 1.3rem;
  }
  header .textContainer {
    font-size: 0.7rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}
@media (max-width: 320px) {
  header .titleContainer h1 {
    font-size: 1.9rem;
    line-height: 50px;
  }
  header .titleContainer h1 .capitalizedText {
    font-size: 1.2rem;
  }
}
.portfolio h2 {
  position: relative;
}
.portfolio h2::after {
  content: url(../../../assets/line.png);
  position: absolute;
  height: 10px;
  width: 10px;
  left: 0;
  top: 20px;
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-x: hidden;
}
.projectsContainer .projectContainer {
  margin-bottom: 40px;
}
.projectsContainer :nth-child(1) .projectContent {
  background-color: #f8edeb;
}
.projectsContainer :nth-child(2) .projectContent {
  background-color: #edf2fb;
}
.projectsContainer :nth-child(3) .projectContent {
  background-color: #f2ebfb;
}
.projectsContainer :nth-child(4) .projectContent {
  background-color: #dbe7e4;
}
.projectsContainer :nth-child(5) .projectContent {
  background-color: #ffffe0;
}
.projectsContainer :nth-child(6) .projectContent {
  background-color: #ffecee;
}
.projectsContainer .projectContent {
  max-width: 450px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  position: relative;
  text-align: center;
}
.projectsContainer .projectContent .imgContainers {
  width: 80%;
}

.projectText {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-color: #333;
  border-radius: 8px;
}
.projectText p {
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.closeInfo {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
}
.closeInfo:hover {
  color: #95d5b2;
}

.showProjectText {
  opacity: 1;
}

.iconsContainer {
  width: 50%;
  margin: 30px 0;
}
.iconsContainer i {
  font-size: 1.3rem;
  background: linear-gradient(10deg, #14746f, #95d5b2);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectLinks {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 750px) {
  .projectLinks {
    width: 70%;
  }
}
footer {
  padding: 50px 0;
  background: url(../../../assets/background.jpg);
}
footer h2 {
  position: relative;
}
footer h2::after {
  content: url(../../../assets/line.png);
  position: absolute;
  height: 10px;
  width: 10px;
  left: 0;
  top: 20px;
}
footer nav {
  width: 390px;
}
footer nav p {
  font-size: 0.85rem;
}
footer nav .randomWord {
  color: #14746f;
}
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
footer .socials::after {
  content: url(../../../assets/zic.png);
  height: 5px;
  width: 5px;
  position: absolute;
  display: block;
  left: 0;
  top: 170px;
}
footer .socials a {
  font-size: 1.4rem;
  color: #14746f;
  padding: 10px;
}
footer .socials a:hover, footer .socials a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
footer form {
  width: 50%;
}
footer form input {
  width: 47%;
  margin-bottom: 50px;
  display: inline-block;
  padding: 15px;
  background-image: url(../../../assets/background.jpg);
  border: none;
  border-bottom: 2px solid #14746f;
}
footer form input[type=text] {
  margin-right: 20px;
}
footer form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  resize: none;
  background-image: url(../../../assets/background.jpg);
  border: 2px solid #14746f;
}
footer form button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
footer .scrollToTop {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1215px) {
  footer .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .socials::after {
    content: none;
  }
  footer form {
    width: 100%;
  }
  footer form input {
    width: 100%;
  }
}
@media (max-width: 430px) {
  footer nav {
    width: 100%;
  }
  footer nav p:nth-child(2) {
    height: 60px;
    margin: 10px 0;
  }
}