html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
p,
a,
input {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5257e5;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h3 {
  margin-bottom: 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 1rem;
  color: #495057;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  line-height: 25px;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.bodyWrapper {
  max-width: 4000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section {
  padding: 50px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff)) padding-box, -webkit-gradient(linear, left top, right top, from(#5257e5), to(#72efdd)) border-box;
  background: linear-gradient(#fff) padding-box, linear-gradient(to right, #5257e5, #72efdd) border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #5257e5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background: #5257e5;
  color: #fff;
}

header {
  background-image: url("../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 95vh;
  height: auto;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .mobileMenu {
  height: 0;
  width: auto;
  position: absolute;
  top: -100px;
  overflow: hidden;
  background: none;
  border: none;
  color: #5257e5;
}
header nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
header nav .navList::before {
  content: url(../../../assets/dots.png);
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  z-index: -10;
  top: 0;
  right: 350px;
}
header nav .navList a {
  padding: 25px 0 25px 50px;
  text-transform: uppercase;
}
header nav .navList a:hover, header nav .navList a:focus {
  color: #5257e5;
}
header nav .socials {
  position: fixed;
  bottom: 100px;
  z-index: 20;
  text-align: center;
  margin: 0 50px;
}
header nav .socials::after {
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  border-left: 1px solid #5257e5;
  top: 220px;
}
header nav .socials a {
  padding: 15px 10px;
}
header nav .socials a i {
  font-size: 1.1rem;
  background: linear-gradient(10deg, #5257e5, #72efdd);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .socials a:hover, header nav .socials a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
header .title {
  margin: 30vh 0;
  width: 640px;
  text-align: right;
  position: relative;
}
header .title::after {
  content: url(../../../assets/o-dark.png);
  height: 5px;
  width: 5px;
  display: block;
  position: absolute;
  right: 100px;
  top: -100px;
}
header .title::before {
  content: url(../../../assets/o-light.png);
  height: 5px;
  width: 5px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
header .title h1 .name {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(10deg, #5257e5, #72efdd);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -5px;
  position: relative;
}
header .title h1 .name::after {
  content: url(../../../assets/dot.png);
  height: 5px;
  width: 5px;
  display: block;
  position: absolute;
  right: -15px;
  top: 15px;
}
header .title .capitalize {
  font-size: 2.8rem;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  display: block;
}
header .btn {
  margin-top: 50px;
  padding: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

@media (max-width: 915px) {
  header .title {
    width: 100%;
  }
  header .title .capitalize {
    font-size: 2.2rem;
  }
}
@media (max-width: 750px) {
  .wrapper {
    width: 85%;
  }

  header nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav .whiteBtn {
    color: #fff;
  }
  header nav .mobileMenu {
    font-size: 2rem;
    padding: 15px 0 15px 25px;
    position: absolute;
    margin-right: 40px;
    z-index: 30;
    cursor: pointer;
    position: static;
    overflow: visible;
    height: auto;
  }
  header nav .hide {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  header nav .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    background-color: #5257e5;
    width: 100%;
    margin: 0 auto;
    height: 95vh;
    top: 0;
    padding-top: 80px;
    opacity: 0.95;
  }
  header nav .navList::before {
    content: none;
  }
  header nav .navList a {
    position: relative;
    color: #fff;
    padding: 30px;
    font-size: 1.8rem;
  }
  header nav .navList a:hover, header nav .navList a:focus {
    color: #495057;
  }
  header nav .socials {
    display: none;
  }
  header nav .socials::after {
    content: none;
  }
  header .title {
    width: 100%;
    margin-top: 25vh;
    text-align: center;
  }
  header .title h1 {
    font-size: 3.2rem;
  }
  header .title .capitalize {
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) {
  header .title h1 {
    font-size: 2.4rem;
  }
  header .title .capitalize {
    font-size: 1.2rem;
  }
}
.about {
  position: relative;
  z-index: 10;
}
.about h2 {
  text-align: right;
  position: relative;
}
.about h2::after {
  content: url(../../../assets/line.png);
  position: absolute;
  height: 10px;
  width: 10px;
  right: 26px;
  top: 20px;
}
.about .textContainer {
  text-align: center;
  width: 85%;
  margin: 0 auto 40px auto;
}
.about .textContainer .skillsList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0 auto;
}
.about .textContainer .iconContainer {
  text-align: center;
  margin: 0 10px;
}
.about .textContainer .iconContainer i {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #5257e5;
  display: inline-block;
}
.about .textContainer .iconContainer p {
  margin: 0;
}
.about .bottomContent {
  text-align: center;
  margin: 0 auto;
}
.about .bottomContent img {
  border-radius: 10px;
  margin: 15px auto;
}
.about .interests {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
.about .interests .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .interests h4 {
  margin-right: 20px;
  font-weight: 400;
}
.about .interests .iconContainer {
  padding: 6px 8px;
  margin-right: 20px;
  border-style: solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff)) padding-box, -webkit-gradient(linear, left bottom, right top, from(#5257e5), to(#72efdd)) border-box;
  background: linear-gradient(#fff) padding-box, linear-gradient(to top right, #5257e5, #72efdd) border-box;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #5257e5;
}
.about .interests .adjust {
  padding: 5px 10.5px;
  font-size: 1.01rem;
}

@media (max-width: 550px) {
  .about .textContainer {
    width: 100%;
  }
  .about .textContainer .iconContainer i {
    padding: 10px 13px;
  }
}
.portfolio .alignMiddle {
  text-align: center;
}
.portfolio h2 {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio h2::before {
  content: url(../../../assets/line.png);
  position: absolute;
  height: 10px;
  width: 10px;
  left: 0;
  top: 20px;
}
.portfolio .projectContainer {
  margin-bottom: 80px;
}
.portfolio .textContainer {
  width: calc(50% - 80px);
  margin: 0 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.portfolio .alignRight {
  text-align: right;
  margin-left: auto;
}
.portfolio .imgContainer {
  margin: 0 40px;
  width: calc(50% - 80px);
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.portfolio .imgContainer img {
  border-radius: 10px;
  -webkit-box-shadow: 11px 14px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 14px 15px -3px rgba(0, 0, 0, 0.1);
}
.portfolio .projectIcon {
  width: 30%;
  margin-bottom: 20px;
}
.portfolio .projectIcon i {
  font-size: 1rem;
}

@media (max-width: 987px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectContainer .textContainer,
.projectContainer .imgContainer {
    width: 100%;
    margin: 0;
  }
  .projectContainer .imgContainer {
    margin-bottom: 20px;
  }
}
footer {
  padding: 50px 0;
  background: url(../../../assets/background.jpg);
}
footer h2 {
  position: relative;
}
footer h2::after {
  content: url(../../../assets/line.png);
  position: absolute;
  height: 10px;
  width: 10px;
  left: 0;
  top: 20px;
}
footer nav {
  width: 390px;
}
footer nav p {
  font-size: 0.89rem;
}
footer nav .randomWord {
  color: #5257e5;
}
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
footer .socials::after {
  content: url(../../../assets/zic.png);
  height: 5px;
  width: 5px;
  position: absolute;
  display: block;
  left: 0;
  top: 170px;
}
footer .socials a {
  font-size: 1.4rem;
  color: #5257e5;
  padding: 10px;
}
footer .socials a:hover, footer .socials a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
footer form {
  width: 50%;
}
footer form input {
  width: 47%;
  margin-bottom: 50px;
  display: inline-block;
  padding: 15px;
  background-image: url(../../../assets/background.jpg);
  border: none;
  border-bottom: 2px solid #5257e5;
}
footer form input[type=text] {
  margin-right: 20px;
}
footer form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  resize: none;
  background-image: url(../../../assets/background.jpg);
  border: 2px solid #5257e5;
}
footer form button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 1215px) {
  footer .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .socials::after {
    content: none;
  }
  footer form {
    width: 100%;
  }
  footer form input {
    width: 100%;
  }
}
@media (max-width: 430px) {
  footer nav {
    width: 100%;
  }
  footer nav p:nth-child(2) {
    height: 60px;
    margin: 10px 0;
  }
}
.title {
  -webkit-animation: slideLeft 0.4s;
          animation: slideLeft 0.4s;
}

@-webkit-keyframes slideLeft {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slideLeft {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}
.btn {
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}